{# -- Base HTML layout template that all HTML requests inherit from -- #}
{#
┌─────────────────────────────────────────────────────────────────────────────┐
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                headMeta                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                                headLinks                                │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                               headScripts                               │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                               headStyles                                │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│                                 headContent                                 │
└─────────────────────────────────────────────────────────────────────────────┘
┌─────────────────────────────────────────────────────────────────────────────┐
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │ ┌─────────────────────────────────────────────────────────────────────┐ │ │
│ │ │                             preContent                              │ │ │
│ │ └─────────────────────────────────────────────────────────────────────┘ │ │
│ │ ┌─────────────────────────────────────────────────────────────────────┐ │ │
│ │ │                               content                               │ │ │
│ │ └─────────────────────────────────────────────────────────────────────┘ │ │
│ │ ┌─────────────────────────────────────────────────────────────────────┐ │ │
│ │ │                            postContent                              │ │ │
│ │ └─────────────────────────────────────────────────────────────────────┘ │ │
│ │                                bodyHtml                                 │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│ ┌─────────────────────────────────────────────────────────────────────────┐ │
│ │                               bodyScripts                               │ │
│ └─────────────────────────────────────────────────────────────────────────┘ │
│                                 bodyContent                                 │
└─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends craft.app.request.isAjax() and not craft.app.request.getIsPreview()
    ? "vendor/nystudio107/craft-twig-base-templates/templates/_layouts/_base/ajax.twig"
    : "vendor/nystudio107/craft-twig-base-templates/templates/_layouts/_base/web.twig" %}

{% block htmlTag %}
<html lang="{{ craft.app.language | slice(0,2) }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
{% endblock htmlTag %}

{# -- Page content that should be included in the <head> -- #}
{% block headContent %}
    {# -- Any <meta> tags that should be included in the <head> -- #}
    {% block headMeta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,minimum-scale=1">
    {% endblock headMeta %}

    {# -- Any <link> tags that should be included in the <head> -- #}
    {% block headLinks %}
    {% endblock headLinks %}

    {# -- Any <script></script> tags that should be included in the <head> -- #}
    {% block headScripts %}
    {% endblock headScripts %}

    {# -- Any <style></style> tags that should be included in the <head> -- #}
    {% block headStyles %}
    {% endblock headStyles %}

{% endblock headContent %}

{# -- Page content that should be included in the <body> -- #}
{% block bodyContent %}
    {# -- Content that appears before the primary content block -- #}
    {% block preContent %}
    {% endblock preContent %}

    {# -- Primary content block -- #}
    {% block content %}
        {# -- Only content here will be rendered for AJAX requests -- #}
    {% endblock content %}

    {# -- Content that appears after the primary content block -- #}
    {% block postContent %}
    {% endblock postContent %}

    {# -- Any <script></script> tags that should be included before </body> -- #}
    {% block bodyScripts %}
    {% endblock bodyScripts %}

{% endblock bodyContent %}
